*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    /* background-color: antiquewhite; */
    position:sticky;
    width: 100%;
}

.navbar{
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5em;
}
.homenav, .projectsnav, .certificationsnav, .aboutnav, .contactnav{
    margin: .5em;
    padding: .8em;
    font-size: small;
    font-family: sans-serif;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.homepage{
    height: 80vh;
    background-color: beige;
    padding: 5em;
}
.homecontent{
    margin: 3.5rem 4rem 0;
    font-family: sans-serif;
}
.mainname{
    width: 40%;
    font-size: 23px;
    line-height: 1.5;
}
.maindes{
    font-size: 20px;
    width: 50%;
    padding-top: 4em;
    letter-spacing: 1.5px;
    line-height: 1.8;
    font-family: monospace;
}

